:root{
    --Strong-Cyan : hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue : hsl(201, 11%, 66%);
    --font-family : 'Bai Jamjuree', sans-serif;
}

*{
    font-size:18px ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.slide1{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    background-size: cover;
    background-repeat:no-repeat ;
}

.main_logo{
    margin-top: 100px;
    max-height: 150px;
    max-width: 150px;
    margin-bottom: 40px;
}

.textbox_slide1{
    max-width: 650px;

}

.heading_slide1{
    font-size: 2.5rem;
    font-weight: 600;
    flex: 1;
    min-width: 300px;
    text-align: center;margin-bottom: 10px;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 15px;


}

.text_slide1{
    font-size: 1rem;
    font-weight: 400;
    line-height: 30px;
    flex: 1;
    text-align: center;
    margin-bottom: 50px;
    color: var(--Grayish-Blue);
    word-spacing: 2px;

}

.download_button{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 700px;
}

.download_ios{
    border-radius: 25px;
    background-color: var(--Strong-Cyan);
    border: 1px solid transparent;
    font-size: 0.8rem;
    padding: 15px 30px;
    color: white;

}

.download_mac{

    border-radius: 25px;
    font-size: 0.8rem;
    padding: 15px 30px;
    color: white;
    border: 1px solid transparent;
    background-color: var(--Light-Blue);
}


.slide2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.textbox_slide2{
    max-width: 700px;
    min-width: 400px;
    

}


.heading_slide2{
    font-size: 2.2rem;
    font-weight: 600;
    flex: 1;
    min-width: 300px;
    text-align: center;margin-bottom: 10px;
    color: var(--Dark-Grayish-Blue);


}

.text_slide2{
    font-size: 0.9rem;
    font-weight: 400;
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--Grayish-Blue);
    line-height: 20px;
    margin-bottom: 100px;

}

.feature_box{
    display: flex;
    justify-content: flex-start;
    width: 100%;
   
}
.computer{
    max-width: 700px;
    min-height: 200px;
    min-width: 200px;
    margin: -35px;
    flex-shrink:5;

}

.feature{
    max-width: 320px;
    margin-top: 100px;
    transform: translate(45%);

}

.feature_heading{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 10px;
}

.feature_text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--Grayish-Blue);
    margin-bottom: 50px;

}


.slide3{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.textbox_slide3{
    max-width: 700px;
    min-width: none;

}


.heading_slide3{
    font-size: 2.2rem;
    text-align: center;
    color: var(--Dark-Grayish-Blue);
    font-family: var(--font-family);
    font-weight: 600;
    margin-bottom: 20px;

}


.text_slide3{

    font-size: 1rem;
    text-align: center;
    color: var(--Grayish-Blue);
    font-family: var(--font-family);
    font-weight: 400;
    text-wrap: wrap;
    word-spacing: 2px;
    margin-bottom: 100px;


}

.devices{
    min-width: 400px;

}


.slide4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox_slide4{
    max-width: 600px;
}

.heading_slide4{
    font-size: 2.2rem;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}
.text_slide4{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--Grayish-Blue);
    margin-bottom: 100px;
}

.tools{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.tool_content{
    width: 300px;
    text-align: center;
}

.tool_text{
    font-family: var(--font-family);
    font-size: 0.78rem;
    font-weight: 400;
    color: var(--Grayish-Blue);
    line-height: 20px;

}

.tool_heading{
    font-family: var(--font-family);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;

}

.toolimage{
    margin-bottom: 30px;

}

.tool2_image{
    transform: translateY(-14px);
}

.tool3_image{
    transform: translateY(-11px);
}


.company_logo{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
}

.logo{
    width: 140px;
}


.slide5{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

.textbox_slide5{
    max-width: 600px;
    text-align: center;
}

.heading_slide5{
    font-size: 2rem;
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
}

.text_slide5{
    
    font-size: 0.9rem;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--Grayish-Blue);
    margin-bottom: 40px;
}

.slide6{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(0, 0%, 92%);
    height: 130px;
    width: 100%;

}

.footlogo{
    max-width: 50px;

}

.help_info{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    column-gap: 70px;
    row-gap: 15px;


    

}

.text_instalguide{
    transform: translateX(-23px);
}

.text_info{
    color: var(--Grayish-Blue);


}

.handle{
    margin-right: 15px;
}

.social_handles{
    

}
